<!DOCTYPE html>
<html>
<head>
<style>
table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}
</style>
</head>
<body>


	<table>
		<thread>
		<tr>
			<th>Id</th>

			<th>x, y</th>

			<th>x, y</th>

			<th>x, y</th>

			<th>x, y</th>

			<th>Click on Red Draw to draw</th>

			<th>Edit</th>

			<th>Delete</th>

		</tr>
		</thread>

		<tbody>
			<tr th:each="arr :${all}">
				<td th:text="${arr.id}"></td>
				<td
					th:text="${arr.firstRoomParamX} + ', ' +  ${arr.firstRoomParamY}"></td>

				<td
					th:text="${arr.secondRoomParamX} + ', ' +  ${arr.secondRoomParamY}"></td>

				<td
					th:text="${arr.thirdRoomParamX} + ', ' +  ${arr.thirdRoomParamY}"></td>

				<td
					th:text="${arr.fourthRoomParamX} + ', ' +  ${arr.fourthRoomParamY}"></td>

				<td
					th:data-thing="|${arr.id},${arr.firstRoomParamX},${arr.firstRoomParamY},${arr.secondRoomParamX},${arr.secondRoomParamY},${arr.thirdRoomParamX},${arr.thirdRoomParamY},${arr.fourthRoomParamX},${arr.fourthRoomParamY}|"
					onclick="draw(this.getAttribute('data-thing'))" style="color:red">Draw</td>


				<td><a th:href="@{'/list/modificationData/' + ${arr.id}}">Update</a></td>
				<td><a th:href="@{'/list/delete/' + ${arr.id}}">Delete</a></td>
			</tr>
		</tbody>
	</table>

	<br>
	<h3>
		Object of id = <span name="id" id="id"></span>
	</h3>
	<br>

	<button id="clear" onclick="clear()">Clear</button>

	<br>

	<canvas id="c" width="600" height="400">
Your browser does not support the HTML5 canvas tag.</canvas>



	<script type="text/javascript">
		var canvas = document.getElementById("c");
		var context = canvas.getContext("2d");

		cell();
		function cell() {
			context.beginPath();
			context.lineWidth = "2";
			context.strokeStyle = "black";
			context.clearRect(0, 0, canvas.width, canvas.height);
			for (var x = 0.5; x < 800; x += 20) {
				context.moveTo(x, 0);
				context.lineTo(x, 675);
			}

			for (var y = 0.5; y < 675; y += 20) {
				context.moveTo(0, y);
				context.lineTo(800, y);
			}
			context.strokeStyle = "#eee";
			context.stroke();
		}

		function draw(myString) {
			cell();

			let arr = myString.split(',');

			const id = document.getElementById('id').innerHTML = arr[0];

			for (let i = 1; i < arr.length; i++) {
				console.log(arr[i] *= 20);
			}
			;

			context.beginPath();
			context.lineWidth = "2";
			context.strokeStyle = "black";

			context.moveTo(arr[1], arr[2]);
			context.lineTo(arr[3], arr[4]);

			context.moveTo(arr[3], arr[4]);
			context.lineTo(arr[5], arr[6]);

			context.moveTo(arr[5], arr[6]);
			context.lineTo(arr[7], arr[8]);

			context.moveTo(arr[7], arr[8]);
			context.lineTo(arr[1], arr[2]);

			context.stroke();

		}

		document.getElementById('clear').addEventListener('click', function() {
			console.log("CLEAR");
			const id = document.getElementById('id').innerHTML = "";
			context.clearRect(0, 0, canvas.width, canvas.height);
			for (var x = 0.5; x < 800; x += 20) {
				context.moveTo(x, 0);
				context.lineTo(x, 675);
			}

			for (var y = 0.5; y < 675; y += 20) {
				context.moveTo(0, y);
				context.lineTo(800, y);
			}
			context.strokeStyle = "#eee";
			context.stroke();
		}, false);
	</script>
</body>
</html>